.hero_container {
  min-height: 70vh;
  background-color: #E0492B;
  color: #F7F2E3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.main_wraper{
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.hero_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem;
}
.hero_content button{
  max-width: 200px;
}