.shop_container {
  width: 100%;
  min-height: 100vh;
  display: block;
  overflow: hidden;
}

.shop_hero {
  width: 100vw;
  height: 35vh;
  background-image: url('../../../public/img/petShop-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* .container_shop {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex: 1 1;
  flex-wrap: wrap-reverse;
  padding: 1rem;
} */

.shop_sidebar {
  width: 15%;
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar_cat {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar_cat form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



.shop_main_container {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* .shop_produtos_container {
  width: 100%;
  display: block;
  border-top: 1px solid #c8c8c8 ;
} */

.produtos_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem; */
}
