.home-about {
  width: 100%;
  min-height: 80vh;
  padding: 4rem;
}
.container-resumo-fotos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: content;
  gap: 3rem;
}

.div-imagem {
  background-image: url('../../../public/img/about-bg1.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

.div-resumo {
  width: 100%;
}

.div-resumo > p {
  text-align: justify;
}

.div-resumo h2 {
  font-size: 2.7rem;
}

.imagem-home {
  width: 200px;
}

@media (max-width: 820px) {
  .container-resumo-fotos {
    flex-direction: column;
  }

  .div-imagem {
    width: 80vw;
  }

  .div-resumo {
    width: 80vw;
  }
}
